body {
    height: 800px;
}
h1 {
    width: 300px;
    height: 100px;
    background-color: yellow;
}
div p {
    width: 800px;
    height: 150px;
    background-color: aqua;
}
em,
span,
strong {
    background-color: blue;
    width: 100px;
    height: 50px;
}

.satu {
    overflow: hidden;
    padding: 40px 25px 30px 15px;
    border: 1px solid black;
}
.dua {
    overflow: scroll;
}
.tiga {
    overflow: auto;
}
.empat {height: auto;width: 400px; padding: 20px;}
.lima  {height: auto;width: 400px; padding: 5px 20px;}
.enam  {height: auto;width: 400px; padding: 5px 30px 10px;}
.tujuh {height: auto;width: 400px; padding: 5px 12px 25px 35px;}
