div h2{
    color: red;
}
p em{
    color:magenta;
}
body h1{
    color: greenyellow;
}
div .kar{
    color: mediumblue;
}
div.pesan{
    color: mediumorchid;
}
div .pesan{
    color: mediumseagreen;
}