/* class */
.title{
    color: olive;
}
.warn{
    color: red;
}
.explan{
    color: brown;
}

/* ID */
#judul_pertama{
    color:brown;
}
#pesan_pertama{
    color: cadetblue;
}
#judul_kedua{
    color:darkgoldenrod
}