div p {
    color: blueviolet;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}
div > p {
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19.2px;
}

ol ul > li {
    color: chartreuse;
    font-family: cursive;
}

p.xx-large {
    color: tomato;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p.x-large {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color: teal;
}
p.large {
    color: turquoise;
    font-family: sans-serif;
    font-size: large;
}
p.medium {
    color: violet;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p.small {
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}
p.x-small {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellowgreen;
    font-size: x-small;
}
p.xx-small {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-small;
    color: blueviolet;
}