h1, h4, p{
    color: red;
    font-size: 14px;
    font-family: sans-serif;
}
#header, [title~="serius"]{
    color: blue;
    font-size: 14px;
    font-family: monospace;
}
h2.aku{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: greenyellow;
}
h1#cara{
    font-size: 14px;
    font-family: inherit;
    color: hotpink;
}